.menuContainer {
    -fx-background-color: #b98d58;
}

.dashboardContainer {
    -fx-background-color: #e5c1b2;
}

.filterContainer {
    -fx-background-color: #b98d59;
}

.hiddenMenuContainer {
    -fx-background-color: cyan;
}