Label, CheckBox, TextField {
    -fx-font-size: 18;
}

.mainContainer {
    -fx-background-color: #b2e1e5;
}

.check-box {
    /* default properties */
    selected-box-color: white;
    box-color: black;
    mark-color: white;
}

.check-box:selected > .box {
    /* background color for selected checkbox */
    -fx-background-color: selected-box-color;
}

.menuContainer {
    -fx-background-color: #5ba7a8;
    -fx-background-radius: 20px;
    -fx-border-radius: 20px;


    /*-fx-effect: dropshadow(three-pass-box, rgba(0, 0, 0, 0.8), 10, 0, 0, 0);*/
}

.menuBtn {
    -fx-background-color: #5ba7a8;
    -fx-background-radius: 20px;
}

.menuBtn:hover {
    -fx-background-color: #3c8788;
}

.textfieldRight{
    -fx-padding: 20px;
    -fx-border-insets: 20px;
    -fx-background-insets: 20px;
}

.overlay {
    -fx-background-color: rgba(0, 0, 0, 0.5); /* Couleur semi-transparente pour l'effet d'assombrissement */
}

.checkButton{

}

.dateRangeSliderLabel {
    -fx-background-color: white;
    -fx-alignment: center;
    -fx-pref-width: 60px;
}